<div style="text-align: center;">

  <h4>
    2526143CB13A4C52FA6FF22C50F25149E57AD7C1F28ECCFAACB25670E01AAE9E
  </h4>
  <h1>Angular Tranning </h1>

  <!-- <h1>Component Example</h1> -->
  <!-- preserveWhitespaces Example -->

  <!-- <button>add</button>
  <button>sub</button>
  <button>multi</button>
  <button>divide</button>
  <button>%</button> -->

  <!-- ViewProviders Example -->

  <!-- <app-one></app-one>
  <app-two></app-two> -->

  <!-- Interpolation Example  -->

  <!-- <app-interpolation-example></app-interpolation-example> -->

  <!-- Encapsulation Example
  <h1>Parent Component</h1>
  <app-one></app-one>
</div> -->

  <!-- Input Property -->
  <!-- <app-parent></app-parent> -->



  <!-- <hr> -->
  <!-- <h1>Directive Example</h1> -->
  <!-- Structural Directive -->
  <!-- <app-ng-if-example></app-ng-if-example> -->
  <!-- <app-ng-for-example></app-ng-for-example> -->
  <!-- <app-ng-switch-example></app-ng-switch-example> -->

  <!-- Attribute Directive -->
  <!-- <app-ng-style-example></app-ng-style-example> -->
  <!-- <app-ng-class-example></app-ng-class-example> -->

  <!-- <hr>
  <h1>Data Bindings Example</h1>
  <app-data-binding-example></app-data-binding-example> -->
  <!-- 
  <hr>
  <h1>Pipes Examples</h1>
  <app-pipes-example></app-pipes-example> -->

  <!-- <h1>Input and Output Decorator</h1>
  <app-parent-decorator></app-parent-decorator> -->
  <!--   
  <h1>Session Management</h1>
  <app-student></app-student>
  <app-faculty></app-faculty> -->

  <!-- <h1>Service Example</h1>
  <app-service-example></app-service-example> -->


  <!-- Routing Examples -->
  <!-- <a routerLink="dashboard">Dashboard</a> |
  <a [routerLink]="'aboutus'">About Us</a> |
  <a [routerLink]="['contactus']">Contact Us</a> |
  <a [routerLink]="'book'">Book Master</a> | -->
  <!-- <a routerLink="college">College</a> | -->

  <!-- <a [routerLink]="['contactus',100]">Contact Us</a> |
  <a routerLink="contactusssss">Contact Us New </a> ||
  <button type="button" (click)="onclick()"> Go to ContactUs</button> -->
  <!-- 
  <h2>Route Guard</h2>

  <a routerLink="home">Home</a> |
  <a routerLink="admin">Admin</a> |
  <a routerLink="merchant">Merchant</a> |
  <a routerLink="customer">Customer</a> |
  <a routerLink="merchant" [state]="{id:999,name:'Dheeraj jaiswal'}">Merchant Send Dynamic Data Client Side</a> |

  <button (click)="sendsydata()">Send Data Server Site</button> -->



  <!-- 
  <h1>Observable And Subscribe</h1>
  <h2>
    Observable with Subscribe
  </h2>
  <ul>
    <li *ngFor="let data of myBooks">
      Id:{{data.id}} |
      Name:{{data.name}} |
      Category:{{data.category}}
    </li>
  </ul>

  <h2>Observable with async</h2>

  <ul>
    <li *ngFor="let data of myBooks$ | async">
      Id:{{data.id}} |
      Name:{{data.name}} |
      Category:{{data.category}}
    </li>
  </ul>

  <h2>Get Book By Id using Subscribe</h2>
  <div *ngIf="mybook">
    Id :{{mybook.id}} | Name:{{mybook.name}} | Category: {{mybook.category}}
  </div>

  <h2>Get Book By Id using async</h2>
  <div *ngIf="mybook$ | async as bk">
    Id :{{bk[0].id}} | Name:{{bk[0].name}} | Category: {{bk[0].category}}
  </div>

  <h2>Show Book Name</h2>

  Book Name : {{bookname}}

  <h2>Show Related Book</h2>

  <ul>
    <li *ngFor="let relbook of relatedbooks ">
      Id :{{relbook.id}} | Name:{{relbook.name}} | Category: {{relbook.category}}
    </li>
  </ul> -->


  <!-- Modules
  <a routerLink="contactus">Conatct Us</a> |
  <a routerLink="person">Person</a> |
  <a routerLink="company">Company</a> | -->


  <!-- <h2> Reactive and Templete Driven Forms</h2> 

   <app-templateform></app-templateform> 
   <app-reactiveform></app-reactiveform> 
   <app-registration-form></app-registration-form> -->

  <!-- <h2> Angular Material Example</h2>
<app-angularmaterial-example></app-angularmaterial-example> 
  <h2>Bootstrap Example</h2>
  <app-bootstrap-example></app-bootstrap-example> -->


  <!-- <h2>HttpClient Example</h2>

  <app-httpclientexample></app-httpclientexample> -->


  <router-outlet></router-outlet>