h1{
    background-color: teal;
    color: rgb(181, 247, 175);
    text-transform: uppercase;
    text-align: center;
}
h2 {
  background-color: rgb(134, 17, 138);
  color: rgb(3, 20, 2);
  text-transform: uppercase;
  text-align: center;
}
.active{
color: aliceblue;
background-color: black;
padding: 10px;
}